<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style type="text/css">
*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('/images/404.jpg');
	background-repeat: no-repeat;
    background-size: cover;
}
</style>
<body>
</body>
</html>