<div class="aside shadow-4dp">
    <ul class="nav nav-list">
        <li <% if(tag=='create'){ %> class="active" <% } %> >
            <a href="/survey/create">
                <i class="fa fa-camera-retro fa-lg fa-fw"></i>
                <span class="menu-text"> 创建问卷 </span>
            </a>
        </li>
        <li <% if(tag=='list'){ %> class="active" <% } %> >
            <a href="/survey/list/1">
                <i class="fa fa-camera-retro fa-lg fa-fw"></i>
                <span class="menu-text"> 查看问卷 </span>
            </a>
        </li>
        <li <% if(tag=='result'){ %> class="active" <% } %> >
            <a href="/survey/result/1">
                <i class="fa fa-camera-retro fa-lg fa-fw"></i>
                <span class="menu-text"> 问卷结果 </span>
            </a>
        </li>
    </ul>
    <!-- 最小化菜单 -->
    <!-- <p class="mini">
        <i class="fa fa-angle-double-left"></i>
        <i class="fa fa-angle-double-right"></i>
    </p> -->
</div>