<%- include header %>
<div class="row">
    <div class="col-md-6">
        <div class="create-box shadow-4dp">
            <p class="cell-title Blue-Grey">编辑</p>
            <div class="create-tab Blue-Grey">
                <p>
                    <span class="tabselect tabactive" id="radio">单选</span>
                    <span class="tabselect" id="checkbox">多选</span>
                    <span class="tabselect" id="text">问答</span>
                </p>
            </div>
            <div class="create-content">
                <!-- Radio Start -->
                <div class="add-item radio active">
                    <p class="Grey item-title">
                        <button class="btn addradio Grey shadow-2dp">添加至右侧预览</button>
                    </p>
                    <div class="radio-content">
                        <input type="text" class="form-control" placeholder="问题标题" id="radio-title">
                        <input type="hidden" class="imgUrl" value="">
                        <!-- upload -->
                        <div class="form-group uploadimg">
                            <div class="col-sm-6 control-label">
                                <div class="input-group">
                                    <input class="file-input uploadFile" type="file" > 
                                    <input class="form-control file-cover" type="text" placeholder="问题图片,可选" readonly="readonly">
                                    <div class="input-group-addon">
                                        <span class="choose-btn">选择图片</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-success btnSub">上传</button>
                                <div class="imgOption">
                                    <a class="btn btn-info avatar" role="button" data-toggle="popover">缩略图</a>
                                    <button class="btn btn-danger delimg">删除</button>
                                </div>
                            </div>
                        </div>

                        <!-- upload -->
                        <p class="add-option">
                            <button class="radio-add btn btn-default">增加选项</button>
                            <label>
                                <input type="checkbox" class="radio-other" id="radio-switch"> 其他（是否添加其他选项）
                            </label>
                        </p>
                        
                        <div class="radio-optios">
                            <div class="item">
                                <ul>
                                    <li class="item-left">
                                        <input type="radio" class="mdl-radio__button" checked>
                                    </li>
                                    <li class="item-center">
                                        <input type="text" class="form-control" placeholder="请输入选项内容">
                                    </li>
                                    <li class="item-right"></li>
                                </ul> 
                            </div>
                            <div class="item">
                                <ul>
                                    <li class="item-left">
                                        <input type="radio" class="mdl-radio__button" checked>
                                    </li>
                                    <li class="item-center">
                                        <input type="text" class="form-control" placeholder="请输入选项内容">
                                    </li>
                                    <li class="item-right"></li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Radio End -->
                <!-- Checkbox Start -->
                <div class="add-item checkbox">
                    <p class="Grey item-title">
                        <button class="btn addcheckbox Grey shadow-2dp">添加至右侧预览</button>
                    </p>
                    <div class="radio-content checkbox-content">
                        <input type="text" class="form-control" placeholder="问题标题" id="checkbox-title">
                        <input type="hidden" class="imgUrl" value="">
                        <!-- upload -->
                        <div class="form-group uploadimg">
                            <div class="col-sm-6 control-label">
                                <div class="input-group">
                                    <input class="file-input uploadFile" type="file" > 
                                    <input class="form-control file-cover" type="text" placeholder="问题图片,可选" readonly="readonly">
                                    <div class="input-group-addon">
                                        <span class="choose-btn">选择图片</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-success btnSub">上传</button>
                                <div class="imgOption">
                                    <a class="btn btn-info avatar" role="button" data-toggle="popover">缩略图</a>
                                    <button class="btn btn-danger delimg">删除</button>
                                </div>
                            </div>
                        </div>
                        <!-- upload -->
                        <p class="add-option">
                            <button class="checkbox-add btn btn-default">增加选项</button>
                            <label>
                                <input type="checkbox" class="radio-other checkbox-other" id="checkbox-switch"> 其他（是否添加其他选项）
                            </label>
                        </p>
                        <div class="checkbox-optios">
                            <div class="item">
                                <ul>
                                    <li class="item-left">
                                        <input type="checkbox" checked> 
                                    </li>
                                    <li class="item-center">
                                        <input type="text" class="form-control" placeholder="请输入选项内容">
                                    </li>
                                    <li class="item-right"></li>
                                </ul> 
                            </div>
                            <div class="item">
                                <ul>
                                    <li class="item-left">
                                        <input type="checkbox" checked>
                                    </li>
                                    <li class="item-center">
                                        <input type="text" class="form-control" placeholder="请输入选项内容">
                                    </li>
                                    <li class="item-right"></li>
                                </ul> 
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Checkbox End -->
                <!-- Text Start -->
                <div class="add-item text">
                    <p class="Grey item-title">
                        <button class="btn addtext Grey shadow-2dp">添加至右侧预览</button>
                    </p>
                    <div class="radio-content text-content">
                        <input type="text" class="form-control" placeholder="问题标题" id="text-title">
                        <input type="hidden" class="imgUrl" value="">
                        <!-- upload -->
                        <div class="form-group uploadimg">
                            <div class="col-sm-6 control-label">
                                <div class="input-group">
                                    <input class="file-input uploadFile" type="file" > 
                                    <input class="form-control file-cover" type="text" placeholder="问题图片,可选" readonly="readonly">
                                    <div class="input-group-addon">
                                        <span class="choose-btn">选择图片</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button class="btn btn-success btnSub">上传</button>
                                <div class="imgOption">
                                    <a class="btn btn-info avatar" role="button" data-toggle="popover">缩略图</a>
                                    <button class="btn btn-danger delimg">删除</button>
                                </div>
                            </div>
                        </div>
                        <!-- upload -->
                    </div>
                </div>
                <!-- Text End-->
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <input type="hidden" id="datas" value="">
        <input type="hidden" id="editid" value="">
        <div class="shadow-4dp">
            <p class="cell-title Blue-Grey">
                <span>预览</span>
                <button class="btn Grey shadow-2dp" id="submit" disabled>提交</button>
            </p>
            <div class="create-content showbox">
                <div class="survey-title">
                    <input type="text" class="form-control" id="survey-title" placeholder="请填写问卷标题">
                </div>
            </div>
        </div>
    </div>
</div>       

<script>
$('.delimg').click(function(){
    $(this).parent().css('visibility','hidden');
    $(this).parents('.uploadimg').find('.uploadFile').val('');
    $(this).parents('.uploadimg').find('.file-cover').val('');
    $(this).parents('.add-item').find('.imgUrl').val('');
});

$('.btnSub').click(function(){
    var formData = new FormData();
    var file = $(this).parents('.uploadimg').find('.uploadFile')[0].files[0];
    if( !file ){
        return;
    }
    formData.append('file', file );

    var dom = $(this).parents('.add-item').find('.imgUrl');
        option = $(this).parents('.add-item').find('.imgOption');

    $.ajax({
        url: '/upload',
        type: 'POST',
        cache: false,
        data: formData,
        processData: false,
        contentType: false,
        success:function(result){
            //console.log(result);
            if( result.status == 1 ){
                showTips('上传成功');
                $(dom).val(result.imgUrl);
                $(option).css('visibility','visible');
                //$(option).find('div.popover').remove();
                $(option).find('a').popover('destroy');
                //$(option).find('a').unbind('click');
                setTimeout(function(){
                    $(option).find('a').popover({
                        html:true,
                        content:'<img src="'+result.imgUrl+'" height="200px">',
                        trigger:'click'
                    })
                }, 500)

            }else if( result.status == 2 ){
                showTips( result.msg,'error');
            }else{
                showTips('上传失败，请重新尝试','error');
            }
        },
        error:function(e){
            console.log(e);
            showTips('上传失败，请重新尝试','error');
        }
    });

})
$('.imgOption .avatar').click(function(){
    $('.popover-content img').prop('src', $('.imgUrl').val())
})
$(document).ready(function(){
    reset('radio');
    reset('checkbox');
    reset('text');
    $('#datas').val('');
    $('#editid').val('');
})
//单选增加选项
$('.radio-add').click(function(val){
    addRadioOption();  
});
//复选增加选项
$('.checkbox-add').click(function(val){
    addCheckboxOption();
});

/**
 * 单选操作，添加选项
 * @param {string} val 仅当编辑时有效，为编辑显示的选项内容
 */
function addRadioOption(val){
    if(!val){
        var value = '';
    }else{
        var value = val;
    }
    var html = '<div class="item item-add">'+
                    '<ul>'+
                        '<li class="item-left">'+
                            '<input type="radio" checked>'+
                        '</li>'+
                        '<li class="item-center">'+
                            '<input type="text" class="form-control" placeholder="请输入选项内容" value="'+value+'">'+
                        '</li>'+
                        '<li class="item-right"><span class="radio-del"><i class="fa fa-remove fa-lg"></i></span></li>'+
                    '</ul>' +
                '</div>';
    $('.radio-optios').append( html ); 
    bindDel();
    init_icheck();
}

/**
 * 复选操作，添加选项
 * @param {string} val 仅当编辑时有效，为编辑显示的选项内容
 */
function addCheckboxOption(val){
    if(!val){
        var value = '';
    }else{
        var value = val;
    }
    var html = '<div class="item item-add">'+
                    '<ul>'+
                        '<li class="item-left">'+
                            '<input type="checkbox" checked>'+
                        '</li>'+
                        '<li class="item-center">'+
                            '<input type="text" class="form-control" placeholder="请输入选项内容" value="'+value+'">'+
                        '</li>'+
                        '<li class="item-right"><span class="radio-del"><i class="fa fa-remove fa-lg"></i></span></li>'+
                    '</ul>' +
                '</div>';
    $('.checkbox-optios').append( html ); 
    bindDel();
    init_icheck();
}

/**
 * 给新增的选项绑定移除操作
 */
function bindDel(){
    $('.item').mouseenter(function(){
        $(this).find('.radio-del').show();
    });
    $('.item').mouseleave(function(){
        $(this).find('.radio-del').hide();
    });
    $('.radio-del').click(function(){
        $(this).parents('.item').remove();
    });
}

/**
 * 顶部单选/多选/问答切换操作
 */
$('.tabselect').click(function(){
    var domid = $(this).context.id;
    if( $(this).hasClass('tabactive') ){
        //do nothing
    }else{
        $('.tabselect').removeClass('tabactive');
        $(this).addClass('tabactive');
        $('.add-item').removeClass('active');
        $('.'+domid).addClass('active');
    }
});

/**
 * 点击单选栏目的添加按钮
 */
$('.addradio').click(function(){
    var item = {};
    item.type = 'radio';
    item.title = $('.radio-content #radio-title').val();
    item.options = [];
    $('.radio-optios .item').each(function(index,element){
        var value = $(this).find('.item-center input').val();
        if( value != '' ){
            item.options.push( value );
        } 
    })
    item.others = $('#radio-switch').is(':checked') ? true : false;
    item.img = $('.radio-content .imgUrl').val();

    if( item.title == '.radio-content' ){
        showTips('请填写选项标题','error');
    }else if( item.options.length<2 ){
        showTips('选项不能少于两个','error');
    }else{
        
        if( $(this).hasClass('edit') ){
            //编辑
            var id = $('#editid').val();
            showView( item.type ,item, id )
            updateDatas( item,id );
            reset('radio');
            //清除编辑标志
            $(this).removeClass('edit');
            $('#editid').val('');
        }else{
            //新增
            //console.log( JSON.stringify(item)  );
            showView( item.type ,item);
            updateDatas(item);
            reset('radio');
        }
    } 
});

/**
 * 点击复选栏目的添加按钮
 */
$('.addcheckbox').click(function(){
    var item = {};
    item.type = 'checkbox';
    item.title = $('.checkbox-content #checkbox-title').val();
    item.options = [];
    $('.checkbox-optios .item').each(function(index,element){
        var value = $(this).find('.item-center input').val();
        if( value != '' ){
            item.options.push( value );
        } 
    })
    item.others = $('#checkbox-switch').is(':checked') ? true : false;
    item.img = $('.checkbox-content .imgUrl').val();

    if( item.title == '' ){
        showTips('请填写选项标题','error');
    }else if( item.options.length<2 ){
        showTips('选项不能少于两个','error');
    }else{
        if( $(this).hasClass('edit') ){
            //编辑
            var id = $('#editid').val();
            showView( item.type ,item, id )
            updateDatas( item,id );
            reset('checkbox');
            //清除编辑标志
            $(this).removeClass('edit');
            $('#editid').val('');
        }else{
            //新增
            //console.log( JSON.stringify(item)  );
            showView( item.type ,item);
            updateDatas(item);
            reset('checkbox');
        }
    }
});

/**
 * 点击问答栏目的添加按钮
 */
$('.addtext').click(function(event) {
    var item = {};
    item.type = 'text';
    item.title = $('.text-content #text-title').val();
    item.img = $('.text-content .imgUrl').val();

    if( item.title == '' ){
        showTips('请填写选项标题','error');
    }else{
        if( $(this).hasClass('edit') ){
            //编辑
            var id = $('#editid').val();
            showView( item.type ,item, id )
            updateDatas( item,id );
            reset('text');
            //清除编辑标志
            $(this).removeClass('edit');
            $('#editid').val('');
        }else{
            //新增
            showView( item.type ,item);
            updateDatas(item);
            reset('text');
        }
    }
});

/**
 * 进行新增、编辑、删除操作时更新存在表单中的数据记录
 * @param  { object } data 要更新的数据
 * @param  { number } id   仅编辑操作时有效, 为当前编辑数据的数组索引id
 */
function updateDatas(data,id){
    var d = $('#datas').val();
    if( d == '' ){
        var result = [];
        result.push( data );
        $('#datas').val( JSON.stringify( result ) );
    }else{
        var result = JSON.parse( d );

        if( id && result[id] ){
            //编辑更新
            result[id] = data;
            $('#datas').val( JSON.stringify( result ) );
        }else{
            //插入更新
            result.push( data );
            $('#datas').val( JSON.stringify( result ) );
        }
        
    }
    console.log( $('#datas').val() );
    console.log( JSON.parse($('#datas').val()) )
}

/**
 * 添加至右侧预览, 包含新插入及编辑预览
 * @param  {string} type 选项类型：radio、checkbox、text
 * @param  {  obj } data 选项数据
 * @param  {number} id   仅编辑时有效，指定编辑的第几条数据
 */
function showView(type,data,id){
    if( type === 'radio' ){
        if( !id ){
            //新插入
            var itemID = $('.showitem').length+1;
            var radioHtml = '<div class="showitem" id="'+itemID+'">';
            radioHtml += '<p><b class="order">'+itemID+'. </b>'+data.title+'</p>';

            if( data.img !='' ){
                radioHtml += '<p class="qimg"><img src="'+data.img+'"></p>';
            }

            radioHtml += '<ul>';
            for( var i=0;i<data.options.length;i++ ){
                radioHtml += '<li><label>'+
                                '<input type="radio"  name="options-'+itemID+'"><span>'+data.options[i]+'</span>'+
                            '</label></li>';
            }
            radioHtml += '</ul>';
            radioHtml += data.others ? '<p>其他：<span class="others-line"></span></p>' : '';
            radioHtml += '<a class="edititem">编辑</a><a class="delitem">删除</a></div>';
            $('.showbox').append(radioHtml);
            init_icheck();
            bindClick();
        }else{
            //更新
            var dom = $('.showitem')[id];
            $(dom).find('p').remove();
            $(dom).find('ul').remove();
            $(dom).find('a').remove();

            
            var radioHtml = '<p><b class="order">'+((id-0+1)-0)+'. </b>'+data.title+'</p>';
            if( data.img !='' ){
                radioHtml += '<p class="qimg"><img src="'+data.img+'"></p>';
            }
            radioHtml += '<ul>';
            for( var i=0;i<data.options.length;i++ ){
                radioHtml += '<li><label>'+
                                '<input type="radio" name="options-'+itemID+'"><span>'+data.options[i]+'</span>'+
                            '</label></li>';
            }
            radioHtml += '</ul>';
            radioHtml += data.others ? '<p>其他：<span class="others-line"></span></p>' : '';
            radioHtml += '<a class="edititem">编辑</a><a class="delitem">删除</a>';

            $(dom).append(radioHtml);
            init_icheck();
            bindClick();
        }
        
    }
    if( type === 'checkbox' ){
        if( !id ){
            //新插入
            var itemID = $('.showitem').length+1;
            var checkboxHtml = '<div class="showitem" id="'+itemID+'">';
            checkboxHtml += '<p class="showitem-title"><b class="order">'+itemID+'. </b>'+data.title+'</p>';

            if( data.img !='' ){
                checkboxHtml += '<p class="qimg"><img src="'+data.img+'"></p>';
            }

            checkboxHtml += '<ul>';
            for( var i=0;i<data.options.length;i++ ){
                checkboxHtml += '<li><label>'+
                                '<input type="checkbox">'+
                            '</label>'+
                            '<span>'+data.options[i]+'</span></li>';
            }
            checkboxHtml += '</ul>';
            checkboxHtml += data.others ? '<p>其他：<span class="others-line"></span></p>' : '';
            checkboxHtml += '<a class="edititem">编辑</a><a class="delitem">删除</a></div>';

            $('.showbox').append(checkboxHtml);
            init_icheck();
            bindClick();
        }else{
            //编辑
            var dom = $('.showitem')[id];
            $(dom).find('p').remove();
            $(dom).find('ul').remove();
            $(dom).find('a').remove();

            var checkboxHtml = '<p class="showitem-title"><b class="order">'+((id-0+1)-0)+'. </b>'+data.title+'</p>';
            if( data.img !='' ){
                checkboxHtml += '<p class="qimg"><img src="'+data.img+'"></p>';
            }
            checkboxHtml += '<ul>';
            for( var i=0;i<data.options.length;i++ ){
                checkboxHtml += '<li><label>'+
                                '<input type="checkbox">'+
                            '</label>'+
                            '<span>'+data.options[i]+'</span></li>';
            }
            checkboxHtml += '</ul>';
            checkboxHtml += data.others ? '<p>其他：<span class="others-line"></span></p>' : '';
            checkboxHtml += '<a class="edititem">编辑</a><a class="delitem">删除</a>';

            $(dom).append(checkboxHtml);
            init_icheck();
            bindClick();
        }
        
    }
    if( type == 'text' ){
        if( !id ){
            //新插入
            var itemID = $('.showitem').length+1;
            var textHtml = '<div class="showitem" id="'+itemID+'">';
            textHtml += '<p class="showitem-title"><b class="order">'+itemID+'. </b>'+data.title+'</p>';

            if( data.img !='' ){
                textHtml += '<p class="qimg"><img src="'+data.img+'"></p>';
            }

            textHtml += '<p><span class="others-line"></span></p>';
            textHtml += '<a class="edititem">编辑</a><a class="delitem">删除</a></div>';
            $('.showbox').append(textHtml);
            init_icheck();
            bindClick();
        }else{
            //编辑
            var dom = $('.showitem')[id];
            $(dom).find('p').remove();
            $(dom).find('a').remove();

            var textHtml = '<p><b class="order">'+((id-0+1)-0)+'. </b>'+data.title+'</p>';
            if( data.img !='' ){
                textHtml += '<p class="qimg"><img src="'+data.img+'"></p>';
            }
            textHtml += '<p><span class="others-line"></span></p>';
            textHtml += '<a class="edititem">编辑</a><a class="delitem">删除</a>';

            $(dom).append(textHtml);
            init_icheck();
            bindClick();
        }
        
    }
    if( $('.showitem').length > 0 ){
        $('#submit').removeAttr('disabled');
    }else{
        $('#submit').attr('disabled','disabled');
    }
}

/**
 * 插入右侧预览区域的选项绑定编辑和删除操作
 */
function bindClick(){
    //编辑
    $('.edititem').unbind('click').click(function(){
        var id = $(this).parents('.showitem').attr('id')-1;
        //console.log( id );
        var arr = $('#datas').val();
        arr = JSON.parse( arr );
        var data = arr[id];
        if( !data ){
            //无数据，出现异常，删除当前行
            $(this).remove();
        }else{
            $('#editid').val( id );
            if( data.type == 'radio' || data.type == 'checkbox' || data.type == 'text' ){
                reset(data.type);
                $('.'+data.type+' .item-title button').addClass('edit');
            }
            
            if( data.type == 'radio' ){
                $('#radio').click();
                $('.radio-content #radio-title').val( data.title );
                $('.radio-content .imgUrl').val( data.img );

                $('.radio-content .imgOption').find('a').popover({
                    html:true,
                    content:'<img src="'+data.img+'" height="200px">',
                    trigger:'click'
                });
                $('.radio-content .imgOption').css('visibility','visible');

                if( data.others ){
                    //$('.radio .radio-content .radio-other').addClass('is-checked');
                    //document.getElementById('radio-switch').checked = true;
                    $('.radio #radio-switch').prop('checked',true);
                    $('#radio-switch').iCheck('update');
                }
                for( var i=0;i<data.options.length;i++ ){
                    if( i>=2 ){
                        addRadioOption( data.options[i] );
                    }else{
                        var dom = $('.radio-optios .item')[i];
                        $(dom).find('.item-center input').val( data.options[i] );
                    }
                }
            }else if( data.type == 'checkbox' ){
                $('#checkbox').click();
                $('.checkbox-content #checkbox-title').val( data.title );
                $('.checkbox-content .imgUrl').val( data.img );

                $('.checkbox-content .imgOption').find('a').popover({
                    html:true,
                    content:'<img src="'+data.img+'" height="200px">',
                    trigger:'click'
                });
                $('.checkbox-content .imgOption').css('visibility','visible');

                if( data.others ){
                    /*$('.checkbox .checkbox-content .checkbox-other').addClass('is-checked');
                    document.getElementById('checkbox-switch').checked = true;*/
                    $('.checkbox #checkbox-switch').prop('checked',true);
                    $('#checkbox-switch').iCheck('update');
                }
                for( var i=0;i<data.options.length;i++ ){
                    if( i>=2 ){
                        addCheckboxOption( data.options[i] );
                    }else{
                        var dom = $('.checkbox-optios .item')[i];
                        $(dom).find('.item-center input').val( data.options[i] );
                    }
                }
            }else if( data.type == 'text' ){
                $('#text').click();
                $('.text-content #text-title').val( data.title );
                $('.text-content .imgUrl').val( data.img );

                $('.text-content .imgOption').find('a').popover({
                    html:true,
                    content:'<img src="'+data.img+'" height="200px">',
                    trigger:'click'
                });
                $('.text-content .imgOption').css('visibility','visible');
            }
        }
    });
    //删除操作
    $('.delitem').unbind('click').click(function(){
        var id = $(this).parents('.showitem').attr('id');
        $('.showbox #'+id).remove();

        id -= 1;
        //删除数组中对应的数据
        var arr = $('#datas').val();
        arr = JSON.parse( arr );
        arr.splice(id,1);
        arr = JSON.stringify( arr );
        $('#datas').val( arr );
        //更新序号
        $('.showitem').each(function(index, el) {
            $(this).find('.order').text(index+1+'. ');
            $(this).attr('id',index+1);
        });
        //提交按钮状态
        if( $('.showitem').length > 0 ){
            $('#submit').removeAttr('disabled');
        }else{
            $('#submit').attr('disabled','disabled');
        }
    });
}

/**
 * 重置，清空标题、选项及其他
 * @param  {string} option radio/checkbox/text
 */
function reset(option){
    if( option == 'radio' ){
        $('.radio-content #radio-title').val('');

        $('.radio-content .imgUrl').val('');
        $('.radio-content .uploadFile').val('');
        $('.radio-content .file-cover').val('');
        $('.radio-content .imgOption').css('visibility','hidden');
        

        $('.radio-content .radio-optios .item-add').remove();
        $('.radio-content .radio-optios .item-center input').val('');
        $('#radio-switch').prop('checked',false);
        $('#radio-switch').iCheck('update');
    }else if( option == 'checkbox' ){
        $('.checkbox-content #checkbox-title').val('');

        $('.checkbox-content .imgUrl').val('');
        $('.checkbox-content .uploadFile').val('');
        $('.checkbox-content .file-cover').val('');
        $('.checkbox-content .imgOption').css('visibility','hidden');

        $('.checkbox-content .checkbox-optios .item-add').remove();
        $('.radio-content .checkbox-optios .item input').val('');
        $('#checkbox-switch').attr('checked',false);
        $('#checkbox-switch').iCheck('update');
    }else if( option == 'text' ){
        $('.text-content #text-title').val('');

        $('.text-content .imgUrl').val('');
        $('.text-content .uploadFile').val('');
        $('.text-content .file-cover').val('');
        $('.text-content .imgOption').css('visibility','hidden');
    }
}

/**
 * 提交问卷
 */
$('#submit').click(function(){
    if( $('#survey-title').val() == '' ){
        showTips('问卷标题不能为空','error');
    }else if( $('#datas').val() == '' ){
        showTips( '提交失败，请重新尝试','error' );
    }else{
        showLoading();
        var title = $('#survey-title').val();
        var data = $('#datas').val();
        data = JSON.parse( data );
        /*console.log( data );
        console.log( JSON.parse( data ) );*/
        var postData = {
                title:title,
                data:data
            };
        postData = JSON.stringify(postData);
        //data = JSON.parse( data );
        $.ajax({
            type:'post',
            url:'/survey/create',
            data:{data:postData},
            success:function(result){
                hideLoading();
                console.log('add suceess');
                if( result.code == 200 ){
                    showTips( '问卷创建成功' );
                    setTimeout(function(){
                        window.location.reload();
                    },1000)
                }
            },
            error:function(e){
                console.log(e);
            }
        })
    }
});
function showLoading(){
    $('.loadingbox').show();
}
function hideLoading(){
    $('.loadingbox').hide();
}
function init_icheck(){
    $('input').iCheck({
        checkboxClass: 'icheckbox_minimal-grey',
        radioClass: 'iradio_minimal-grey',
        increaseArea: '20%' // optional
    });    
}
$(document).ready(function(){
    init_icheck();
});
</script>

<%- include footer %>                                         