 					</div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript" src="/javascripts/app.js"></script>
<script>
/**
 * material design消息提示
 * @param  {string} msg 消息内容
 */
Messenger.options = {
    extraClasses: 'messenger-fixed messenger-on-bottom',
    theme: 'flat'
};
function showTips(msg,type){
	if( type && type == 'error' ){
		Messenger().post({
			message: msg,
			type:'error',
			hideAfter: 3,
			hideOnNavigate: true,
			showCloseButton: true
		}); 
	}else{
		Messenger().post({
			message: msg,
			hideAfter: 3,
			hideOnNavigate: true,
			showCloseButton: true
		}); 
	}
}
</script>
</body>
</html>