<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- font-icon -->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <!-- pagination -->
    <link rel="stylesheet" href="/stylesheets/pagination.css">
    <!-- icheck -->
    <link rel="stylesheet" href="/stylesheets/minimal/grey.css">
    <!-- messenger -->
    <link rel="stylesheet" href="/stylesheets/messenger.css">
    <link rel="stylesheet" href="/stylesheets/messenger-theme-flat.css">
    <!-- framework -->
    <link rel="stylesheet" href="/stylesheets/app.css">
    <!-- own-css -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- jquery+bootstrap+icheck+paginator+messenger -->
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/icheck.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-paginator.min.js"></script>
    <script type="text/javascript" src="/javascripts/messenger.min.js"></script>
    <script type="text/javascript" src="/javascripts/messenger-theme-flat.js"></script>
    <title><%=title%></title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <!-- header -->
            <div class="col-md-12 header-bg Blue-Grey">
                <div class="header">
                    <div class="header-title left">
                        <%=user.currentRegion.shortName%>问卷调查系统
                    </div>
                    <div class="dropdown right header-right ">
                        <span id="dropdownMenu" data-toggle="dropdown"><%=user.name%>
                            <i class="fa fa-caret-down"></i>
                        </span>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu">
                            <li role="presentation logout">
                                <a role="menuitem" tabindex="-1" href="javascript:window.close();"><i class="fa fa-power-off fa-fw"></i>&nbsp;关闭</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- body -->
            <div class="col-md-12 no-spacing">
                <div class="content">
                    <!-- aside -->
                    <div class="aside shadow-4dp">
                        <ul class="nav nav-list">
                            <li <% if(tag=='create'){ %> class="active" <% } %> >
                                <a href="/survey/create">
                                    <i class="fa fa-edit fa-lg fa-fw"></i>
                                    <span class="menu-text"> 创建问卷 </span>
                                </a>
                            </li>
                            <li <% if(tag=='list'){ %> class="active" <% } %> >
                                <a href="/survey/list?page=1">
                                    <i class="fa fa-list-ul fa-lg fa-fw"></i>
                                    <span class="menu-text"> 查看问卷 </span>
                                </a>
                            </li>
                            <!-- <li <% if(tag=='result'){ %> class="active" <% } %> >
                                <a href="/survey/result/1">
                                    <i class="fa fa-check-square-o fa-lg fa-fw"></i>
                                    <span class="menu-text"> 问卷结果 </span>
                                </a>
                            </li> -->
                        </ul>
                        <!-- 最小化菜单 -->
                        <!-- <p class="mini">
                            <i class="fa fa-angle-double-left"></i>
                            <i class="fa fa-angle-double-right"></i>
                        </p> -->
                    </div>
                    <!-- content -->
                    <div class="main-content">