<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="/images/favicon.png">

    <link rel="stylesheet" href="/stylesheets/font.css">
    <link rel="stylesheet" href="/stylesheets/icon.css">
    <link rel="stylesheet" href="/stylesheets/material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
</head>
<body>
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col mdl-cell--8-tablet mdl-cell--4-phone">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet">1</div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--8-tablet mdl-cell--4-phone">Content</div>
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet">2</div>
        </div>
        <div class="mdl-cell mdl-cell--8-col mdl-cell--middle">Content</div>
        <div class="mdl-cell mdl-cell--8-col">goes</div>
        <div class="mdl-cell mdl-cell--8-col">here</div>
    </div>
<script src="/javascripts/material.min.js"></script>
</body>
</html>
