.Cyan{
	background-color: rgb(0, 188, 212);
}
.Teal{
	background-color: rgb(0, 150, 136);
}
.Green{
	background-color: rgb(76, 175, 80);
}
.Light-Green{
	background-color: rgb(139, 195, 74);
}
.Lime{
	background-color: rgb(205, 220, 57);
}
.Yellow{
	background-color: rgb(255, 235, 59);
}
.Amber{
	background-color: rgb(255, 193, 7);
}
.Orange{
	background-color: rgb(255, 152, 0);
}
.Brown{
	background-color: rgb(121, 85, 72);
}
.Blue-Grey{
	background-color: rgb(96, 125, 139);
}
.Grey{
	background-color: rgb(158, 158, 158);
}
.Deep-Orange{
	background-color: rgb(255, 87, 34);
}
.Red{
	background-color: rgb(244, 67, 54);
}
.Purple{
	background-color: rgb(156, 39, 176);
}
.Deep Purple{
	background-color: rgb(103, 58, 183);
}
.Blue{
	background-color: rgb(33, 150, 243);
}
.Light-Blue{
	background-color: rgb(3, 169, 244);
}
.Indigo{
	background-color: rgb(63, 81, 181);
}
.Pink,.Pink:hover{
	background-color: rgb(233, 30, 99);
}
.left{
	float: left;
}
.right{
	float: right;
}
.shadow-2dp {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    -moz-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.shadow-4dp {
    -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
.shadow-6dp {
    box-shadow: 
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12), 0 3px 5px -1px rgba(0,0,0,.2);
}
html,body{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body, button, html, input, select, textarea {
    font-family: PingFang SC,RobotoDraft,Roboto,Helvetica Neue,Helvetica,Arial,STHeiti,华文黑体,Microsoft YaHei,微软雅黑,sans-serif;
    background-color: #fdfdfd;
}
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
.header{
	display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
}
.content{
	background-color: #fafafa;
	width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.aside{
	background-color: #fff;
    padding: 0;
    /*height: 100vh;*/
    display: inline-block;
    width: 200px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
.no-spacing{
	margin: 0;
	padding: 0;
}
.main-content{
	display: inline-block;
	-webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 10px 15px;
    overflow: auto;
}
input[readonly] {
    cursor: pointer;
}
.pointer{
	cursor: pointer;
}
.aside ul li{
	cursor: pointer;
}
.aside ul li.active a,.aside ul li.active:hover a{
    /*background-color: rgba(96, 125, 139,0.7);*/
    background-color: rgba(204,204,204,0.8);
}
.aside ul li.active ul li a,.aside ul li.active:hover ul li a{
    background:none;
    color: #333;
}
.aside ul li.active ul li,.aside ul li.active:hover ul li{
    /*background:#eee;*/
}
/*.nav>li.active>a:hover{
	background:none;
}*/
.aside ul li.active a{
	/*color: #fff;*/
}
.aside ul li.active ul li.active{
	/*background: rgba(96, 125, 139,0.2);*/
	background: rgba(96, 125, 139,0.7);
}
.aside ul li.active ul li.active a, .aside ul li.active:hover ul li.active a {
    color: #fff;
}
.aside ul li ul li:hover{
	background-color: #fafafa;
}
.nav>li>a:focus{
	background:none;
}
.nav>li>a:focus:hover{
	background:#eee;
	color: #23527c;
}
.aside ul li a i{
	margin-right: 5px;
}
.aside ul li a b{
	float: right;
}
.aside ul li a b.fa-chevron-down{
	display: none;
}
.aside ul li.open a b.fa-chevron-right{
	display: none;
}
.aside ul li.open a b.fa-chevron-down{
	display: block;
}
.submenu{
	overflow: hidden;
    padding: 0;
    display: block;
    z-index: 10;
}
.submenu li{
   /* padding: 8px 0 8px 40px;*/
}

.header-title{
	font-size: 20px;
}
.header-right{
	margin-right: 10px;
    display: inline-block;
    min-width: 50px;
    text-align: center;
    background-color: rgb(86, 105, 129);
    padding: 0 10px;
    cursor: pointer;
}
.header-right span i{
	margin-left: 5px;
}
.mini{
	height: 30px;
    line-height: 30px;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    padding-top: 5px;
}
.aside.mini-aside{
	width: 50px;
}
.aside.mini-aside .nav li a span,.aside.mini-aside .nav li a b{
	display: none !important;
}
.aside.mini-aside .nav li ul.submenu{
	display: none!important;
    position: absolute;
    left: 50px;
    top: 0;
    width: 150px;
    height: auto;
    background: #fff;
    border: 1px solid #eee;
    border-left: 0;
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12), 0 2px 4px -1px rgba(0,0,0,.2);
}
.aside.mini-aside .nav li:hover ul.submenu{
	display: block!important;
}
.aside.mini-aside .nav .open .submenu>a{
	background: none;
}
.aside ul li ul li a{
	display: block;
    padding: 8px 10px 8px 46px;	
}
.aside.mini-aside ul li ul li a{
	padding: 8px 10px 8px 25px;	
}
.nav .open.active>a:focus{
	background-color: rgba(204,204,204,0.8);
}
a:focus {
    color: #333;
}
.aside.mini-aside .nav .open>a:hover{
	background-color: #eee;
}
.aside .fa-angle-double-left,.aside.mini-aside .fa-angle-double-right{
	display: block;
}
.aside .fa-angle-double-right,.aside.mini-aside .fa-angle-double-left{
	display: none;
}
#dropdownMenu{
	display: inline-block;
    margin: 0 10px;
}
.info-box .caption{
	padding: 0;
}
.info-box .thumbnail{
	border: 0;
}
.info-box .caption p.caption-title{
	margin:10px 0 5px 0;
	text-align: center;
	font-size: 16px;
}
.main-content .row{
	margin: 0;
}
.upload .control-label{
	padding-top: 0!important;
}
.choose-btn{
	cursor: pointer;
}
.file-input{
	display: none!important;
}
.btn:focus{
	outline: none;
    /*border: 0;*/
}
.item{
	background-color: #fff;
	padding: 10px 20px;
	margin-bottom: 20px;
	display: inline-block;
    width: 100%;
    height: 100%;
}
table tr td{
	vertical-align: middle!important;
}
.show{
	display: block;
}
.ihidden{
	display: none;
}
.btn.active{
	background-color: #eee;
}
.btn:focus {
    outline: none!important;
}
.list-checkbox{
	width: 20px;
    height: 20px;
    display: inline-block;
}
.align-center{
	text-align: center;
	margin:0;
}
/**
 * 主题：dark
 */
body.dark .header-bg{
	background-color: #000;
}
body.dark .header-right{
	background-color: #333;
}
body.dark .aside{
	background: #333;
    color: #fff;
}
body.dark .aside ul li.active a,body.dark .aside ul li.active:hover a{
	background-color:#666;
	color: #fff;
}
body.dark .aside ul li.active ul li a,body.dark .aside ul li.active:hover ul li a{
	background:none;
	color: #fff;
}
body.dark .nav .open>a,body.dark .nav .open>a:focus,body.dark .nav .open>a:hover {
    background-color: #666;
}
body.dark .nav .open>a,body.dark .nav .open>a:focus,body.dark .nav .open>a:hover {
    background-color: #444;
    border-color: none;
    color: #fff;
}
body.dark .aside ul li ul li a {
    color: #eee;
}
body.dark .aside ul li ul li:hover {
    background-color: #666;
}
body.dark .nav>li>a:focus,body.dark .nav>li>a {
    color: #fff;
}
body.dark .aside.mini-aside .nav li ul.submenu{
	background-color: #000;
	color: #fff;
}
body.dark .aside.mini-aside .nav .open>a:hover {
    background-color: #666;
}
body.dark .nav>li>a:hover {
    text-decoration: none;
    background-color: #666;
}
body.dark .nav>li>a:focus, {
    background:none;
}
body.dark .mini {
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}
body.dark .dropdown-menu{
	background-color: #333;
}
body.dark .dropdown-menu>li>a{
	color: #fff;
}
body.dark .dropdown-menu > li > a:hover,body.dark .dropdown-menu > li > a:focus{
	background: #666;
}
body.dark .aside ul li.active ul li.active {
    background: #999;
}






